<% @examinations.each.with_index do |ex, i| %>
<div class="form-group">
  <h4 class="control-label">検査項目名: <b><%= ex.name %></b></h4>
  <p>検査番号: <%= ex.number_of_examination %></p> 
    <form>
      <div class="radio-inline">
        <label><input type="radio" name="<%= "LR#{i + 1}" %>" id="<%= "LR+#{i + 1}" %>" value="<%= ex.lr_plus %>">LR+</label>
      </div>
      <div class="radio-inline">
        <label><input type="radio" name="<%= "LR#{i + 1}" %>" id="<%= "LR+#{i + 1}" %>" value="<%= ex.lr_minus %>" checked>LR-</label>
      </div>
    </form>
  <% unless ex.memo.blank? %>
    <%= ex.memo %>
  <% end %>
</div>
<% end %>
