<div class="panel panel-default">
  <h4>疾患: <%= @d.name %> | 事前確率:<span id="pre"><%= @d.pre_probability  %></span>%</h4>
<table class="table table-striped">
<% @examinations.each_with_index do |ex, i| %>
    <thead>
      <tr>
        <th>検査番号</th>
        <th>検査名</th>
        <th>検査(陽性)</th>
        <th>検査(陰性)</th>
        <th>陽性尤度比</th>
        <th>陰性尤度比</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= ex.number_of_examination %></td>
        <td><%= ex.name %></td>
        <td>
          <input type="radio" name="<%= "lr#{i}" %>" id="lr" value="<%= ex.lr_plus %>">
        </td>
        <td>
          <input type="radio" name="<%= "lr#{i}" %>" id="lr" value="<%= ex.lr_minus %>" checked>
        </td>
        <td><%= ex.lr_plus %></td>
        <td><%= ex.lr_minus %></td>
      </tr>
    </tbody>
  <% end %>
</table>
</div>
