<%= form_for(@disease) do |f| %>
  <% if @disease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disease.errors.count, "error") %> prohibited this disease from being saved:</h2>

      <ul>
      <% @disease.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "疾患名"%><br>
    <%= f.text_field :name %>
  </div>
  <div class="form_group">
    <%= f.label :cheif_complaint, "主訴" %><br>
    <%= f.number_field :cheif_complaint %>
  </div>
  <div class="form-group">
    <%= f.label :pre_probabilityi, "検査前確率" %><br>
    <%= f.number_field :pre_probability %>
  </div>
  <div class="form-group">
    <%= f.label :examinations, "検査" %><br>
    <%= f.fields_for :examinations do |examinations_form| %>
      <%= examinations_form.label :name, "検査名" %>
      <%= examinations_form.text_field :name %><br>
      <%= examinations_form.label :category, "検査カテゴリー" %>
      <%= examinations_form.number_field :category %><br>
      <%= examinations_form.label :lr_plus, "陽性尤度比" %>
      <%= examinations_form.number_field :lr_plus %><br>
      <%= examinations_form.label :lr_minus, "陰性尤度比" %>
      <%= examinations_form.number_field :lr_minus %><br>
      <!-- DBに保存されていない場合のみ表示 = 更新時のみ表示 -->
      <% if @disease.persisted? %>
        <%= examinations_form.check_box :_destroy %>
        <%= examinations_form.label :_destroy, "削除" %><br>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.submit "疾患登録", class: "btn btn-default" %>
  </div>
<% end %>
