<%= form_for(@disease) do |f| %>
  <% if @disease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disease.errors.count, "error") %> prohibited this disease from being saved:</h2>

      <ul>
      <% @disease.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "疾患名"%><br>
    <%= f.text_field :name %>
  </div>
  <div class="form_group">
    <%= f.label :cheif_complaint, "主訴" %><br>
    <%= f.number_field :cheif_complaint %>
  </div>
  <div class="form-group">
    <%= f.label :pre_probabilityi, "検査前確率" %><br>
    <%= f.number_field :pre_probability %>
  </div>
  <div class="form-group">
    <%= f.label :examinations, "検査" %><br>
    <%= f.fields_for :examinations do |builder| %>
      <%= render "examination_fields", f: builder %>
    <% end %>
    <%= link_to_add_fields "検査項目追加", f, :examinations  %>
  </div>
  <div class="form-group">
    <%= f.submit "疾患登録", class: "btn btn-default" %>
  </div>
<% end %>
