<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @disease.name %>
</p>

<p>
  <strong>Cheif complaint:</strong>
  <%= @disease.cheif_complaint %>
</p>

<p>
  <strong>Pre probability:</strong>
  <%= @disease.pre_probability %>
</p>

<%= link_to 'Edit', edit_disease_path(@disease) %> |
<%= link_to 'Back', diseases_path %>
