<%= form_for(@examination) do |f| %>
  <% if @examination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@examination.errors.count, "error") %> prohibited this examination from being saved:</h2>

      <ul>
      <% @examination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :disease_id %><br>
    <%= f.number_field :disease_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.number_field :type %>
  </div>
  <div class="field">
    <%= f.label :lr_plus %><br>
    <%= f.text_field :lr_plus %>
  </div>
  <div class="field">
    <%= f.label :lr_minus %><br>
    <%= f.text_field :lr_minus %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
