<p id="notice"><%= notice %></p>

<h1>Listing Examinations</h1>

<table>
  <thead>
    <tr>
      <th>Disease</th>
      <th>Name</th>
      <th>Type</th>
      <th>Lr plus</th>
      <th>Lr minus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @examinations.each do |examination| %>
      <tr>
        <td><%= examination.disease_id %></td>
        <td><%= examination.name %></td>
        <td><%= examination.type %></td>
        <td><%= examination.lr_plus %></td>
        <td><%= examination.lr_minus %></td>
        <td><%= link_to 'Show', examination %></td>
        <td><%= link_to 'Edit', edit_examination_path(examination) %></td>
        <td><%= link_to 'Destroy', examination, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Examination', new_examination_path %>
